In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

from tensorflow_addons.metrics import RSquare

In [67]:
data = pd.read_csv('vgsales.csv', index_col='Rank')

In [68]:
data

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [69]:
columns_to_drop = ['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']

data.drop(columns_to_drop, axis=1, inplace=True)

In [70]:
data

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16598 rows x 5 columns]

In [71]:
data.isnull().sum()

Platform          0
Year            271
Genre             0
Publisher        58
Global_Sales      0
dtype: int64

In [72]:
data['Year'] = data['Year'].fillna(data['Year'].mean())

In [73]:
data = data.dropna(axis=0)

In [74]:
data.isnull().sum()

Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

# Encoading

In [75]:
data

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16540 rows x 5 columns]

In [76]:
data['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [77]:
data['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [78]:
counts = data['Publisher'].value_counts()

In [79]:
data['Publisher'] = data['Publisher'].apply(lambda x: 'Small Publisher' if counts[x] < 50 else x)

C:\Users\HEART\AppData\Local\Temp\ipykernel_13128\1973240519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Publisher'] = data['Publisher'].apply(lambda x: 'Small Publisher' if counts[x] < 50 else x)

In [80]:
data

      Platform    Year         Genre        Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports         Nintendo         82.74
2          NES  1985.0      Platform         Nintendo         40.24
3          Wii  2008.0        Racing         Nintendo         35.82
4          Wii  2009.0        Sports         Nintendo         33.00
5           GB  1996.0  Role-Playing         Nintendo         31.37
...        ...     ...           ...              ...           ...
16596      GBA  2002.0      Platform  Small Publisher          0.01
16597       GC  2003.0       Shooter       Infogrames          0.01
16598      PS2  2008.0        Racing       Activision          0.01
16599       DS  2010.0        Puzzle  Small Publisher          0.01
16600      GBA  2003.0      Platform  Small Publisher          0.01

[16540 rows x 5 columns]

In [81]:
onehot_columns = ['Platform', 'Genre', 'Publisher']

In [82]:
def onehot_encode(data, columns):
    for column in columns:
        dummies = pd.get_dummies(data[column])
        data = pd.concat([data, dummies], axis=1)
        data.drop(column, axis=1, inplace=True)
    return data

In [83]:
data = onehot_encode(data, onehot_columns)

In [84]:
data

,Year,Global_Sales,2600,3DO,3DS,DC,DS,GB,GBA,GC,...,SquareSoft,THQ,Take-Two Interactive,Tecmo Koei,Ubisoft,Unknown,Virgin Interactive,Vivendi Games,Warner Bros. Interactive Entertainment,Zoo Digital Publishing
Rank,,,,,,,,,,,,,,,,,,,,,
1,2006.0,82.74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1985.0,40.24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2008.0,35.82,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2009.0,33.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1996.0,31.37,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,2002.0,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16597,2003.0,0.01,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16598,2008.0,0.01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16599,2010.0,0.01,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16600,2003.0,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Scaling

In [85]:
y = data['Global_Sales']
X = data.drop('Global_Sales', axis=1)

In [86]:
X

,Year,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,...,SquareSoft,THQ,Take-Two Interactive,Tecmo Koei,Ubisoft,Unknown,Virgin Interactive,Vivendi Games,Warner Bros. Interactive Entertainment,Zoo Digital Publishing
Rank,,,,,,,,,,,,,,,,,,,,,
1,2006.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1985.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2008.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2009.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1996.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,2002.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16597,2003.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16598,2008.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16599,2010.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16600,2003.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [88]:
X.shape

(16540, 91)

# Training

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [90]:
from sklearn.linear_model import LinearRegression

In [91]:
regressor = LinearRegression()

In [92]:
regressor.fit(X_train, y_train)

LinearRegression()

In [93]:
y_train

Rank
8597     0.16
5334     0.35
6197     0.28
6034     0.29
8650     0.16
         ...
9420     0.13
861      1.97
2248     0.92
8183     0.18
12768    0.06
Name: Global_Sales, Length: 13232, dtype: float64

# Results

In [94]:
pred = regressor.predict(X_test)

In [95]:
pred

array([-0.02527869,  0.76585901,  2.27342737, ...,  2.08800256,
        0.47264612,  1.10582483])

In [96]:
regressor.score(X_test,y_test)

0.13903355021338526

# R-squared value

In [97]:
from sklearn.metrics import r2_score

In [98]:
score =r2_score(y_test,pred)

In [99]:
score

0.13903355021338526